.card {
	aspect-ratio: 1/1;		
	border-radius: 0.5rem;
	box-shadow: 0 0 2px 4px rgba(34, 34, 34, 0.6);
	-webkit-box-shadow: 0 0 2px 4px rgba(34, 34, 34, 0.6);
	-moz-box-shadow: 0 0 2px 4px rgba(34, 34, 34, 0.6);
	overflow: hidden; 
  min-width: 0;
	cursor: pointer;
	
	transform-style: preserve-3d;
}

@media (orientation: landscape) {
	.card {
		height: 100%;
	}
}

@media (orientation: portrait) {
	.card {
		width: 100%;
	}
}

.back, .front {
	position: absolute; 
	width: 100%;
	height: 100%;
  top: 0;
	/* backface-visibility: hidden; */
}

img {
	width: 100%;
	height: 100%;
}

.back {
	background-color: #af9e81;
	/* transform: rotateY(0deg); */
}

.front {
	/* transform: rotateY(180deg); */
}