.card {
	aspect-ratio: 1/1;
	background-color: #af9e81;	
	border-radius: 0.5rem;
	box-shadow: 0 0 2px 4px rgba(34, 34, 34, 0.4);
	overflow: hidden; 
  min-width: 0;

	transition: all 250ms ease-in-out;
}

@media (orientation: landscape) {
	.card {
		height: 100%;
	}
}

@media (orientation: portrait) {
	.card {
		width: 100%;
	}
}

.card:hover {
	transform: scale(1.05);
	cursor: pointer;
}